.navbar-logo{
    height:50px;
    width: 50px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.navbar-form{
    display: flex;
    justify-content: end;
}

.navbar-background{
    background-color: #77838D;
    color: white;
    width: 100vw;
}

.navbar-font{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

.navbar-user-name{
    color: white;
}

.navbar-hover:hover{
    color: gray;
}

.navbar-image-user{
    height: 25px;
    width: 25px;
    border-radius: 360px;
}