.card-project-description{
    height: 48px;
    width: 100%;
    
    text-overflow: ellipsis;
    overflow: hidden;
}

.projects-backgorund{
    background-color: rgb(182, 184, 185);
    height: 100vh;
    width: 100vw;
}

.progres-style{
    width: 50%
}

.card-project-image{
    height: 150px;
    width: 180px;
    margin-top: 10px;
}

.card-new-entry{
    height: 184px;
    background-color: rgb(219, 222, 223) ;

    
}

.card-new-entry-center{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cards-screen-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-border{
    border-radius: 20px;
    height: 184px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.card-body-margin{
    padding:auto;
}

.card-text-white{
    color: white;
}

.progress-bar-background{
    background-color: rgb(199, 196, 196);
    height: 5px;
}

.progress-bar-color{
    background-color: rgb(97, 97, 97);
}
.card-project-cursor{
    cursor: pointer;
}

.projects-font{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}