.task-card-width{
    width: 100%;
    margin-bottom: 5px;
}

.task-card-btn-width{
    width: 10%;
}

.task-card-div{
    display: flex;
    justify-content: flex-end;
}

.task-card-btn-move{
    margin: 1px;
    padding: 1px;
}

.task-card-icon-color{
    color: #17a2b8 ;

}

.task-card-height{
    height: 100%;
    
}

.task-text-area{
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.task-card-background{
    background-color: rgb(245, 240, 240);
}

.task-description{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    overflow-x: auto;
   
}