.nav-link{
    color:#17a2b8 ;
}

.landingPage-aligItems{
    display: flex;
    align-items: center;
    justify-content: center;
}



.landingPage-bg-color{
    background-color: rgb(189, 196, 196);
    height: 100%;
    width: 100%;
}

.landingPage-color-font{
    color: white;
}

.landing-img-size{
    height: 40%;
    width: 50%;
}

.carousel-control-prev{
    background-color: transparent;
    border-color: transparent;
}

.carousel-control-next{
    background-color: transparent;
    border-color: transparent;
}

.landing-text{
    font-size: 25px;
    text-align: justify;
    margin: 20px;
}


.landing-img-size-logo{
    height: 150;
    width: 300px;
}
