.nav-link{
    color:#17a2b8 ;
}

.landingPage-aligItems{
    display: flex;
    align-items: center;
    justify-content: center;
}



.landingPage-bg-color{
    background-color: rgb(189, 196, 196);
    height: 100%;
    width: 100%;
}

.landingPage-color-font{
    color: white;
}

.landing-img-size{
    height: 40%;
    width: 50%;
}

.carousel-control-prev{
    background-color: rgba(rgb(88, 85, 85), rgb(164, 165, 164), rgb(144, 144, 153), 0.9);
   
}

.carousel-control-next{
    background-color: rgba(rgb(88, 85, 85), rgb(164, 165, 164), rgb(144, 144, 153), 0.9);
    
}

.landing-text{
    font-size: 25px;
    text-align: justify;
    margin: 20px;
}